
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

@media only screen and (max-width : 1790px) {
   #thanks-page {
      .page-wrapper {
         background-position: left top;
      }   
   }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

   .form {
      max-width: 800px;
   }

   .form2 {
      &:before {
         left: -120px;
         width: 120px;
         -webkit-clip-path: polygon(121px 0, 0% 100%, 121px 100%);
         -moz-clip-path: polygon(121px 0, 0% 100%, 121px 100%);
         -o-clip-path: polygon(121px 0, 0% 100%, 121px 100%);
         clip-path: polygon(121px 0, 0% 100%, 121px 100%);  
      }

      &--left {
         &:before {
            left: auto;
            right: -120px;
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            -moz-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            -o-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);  
         }
      }

      .clock {
         margin-left: -90px;
      }
   }

   .clock {
      margin-left: 0;
      &-timer {
         display: none;
      }
      &-timer-2 {
         display: block;
      }
      
   }

   .header {
      &-slogan {
         display: none;
      }
   }

   .footer {
      .logo {
         margin: 0;
      }

      &-comand, &-address, &-phone {
         margin: 0;
      }
   }

   .main-menu {
      margin-top: 10px;
      li {
         margin-right: 10px;
      }
   }

   .section {    
      &-main {
         .form2 {
            margin-top: 0;
         }
      }

      &-delo {
         .delo {
            &-block {
               &-title {
                  font-size: 35px;
               }

               &-text {
                  font-size: 16px;
               }
            }
         }

         &-text {
            font-size: 16px;
         }
      }

      &-why {
         .form2 {
            margin-right: 130px;
            &:last-child {
               margin-right: 0;
            }
         }
      }

      &-services {
        .s {
          &-col, &-side {
            font-size: 16px;
          }
        }
      }      

      &-sotrudni4estva {
         .sotrudni4estva {
            width: 49%;
            img {
               margin-right: 10px;
            }
         }
      }

      &-contact {
         .map {
            width: 75%;
         }
      }
   }

}

@media only screen and (max-width : 991px) {	

   .main-menu {
      margin-top: 0;
   }

    .form {
      max-width: 600px;      

      &-info, form, .clock, &-title {
         max-width: 400px;
         margin: 0 auto;         
      }

      &-title {
         font-size: 20px;
         margin-bottom: 15px;
      }

      form {
         flex-direction: column;
      }

      .clock {
         justify-content: space-between;
         &-timer {
            display: none;
         }
         &-timer-2 {
            display: block;
         }
      }

      .input-div, .button {
         width: 100%;
      }
    }

    .form2 {
      margin: 0 auto !important;
      max-width: 500px;
      &::before {
         display: none;
      }
      .clock {
         margin-left: 0;
         justify-content: center;
      }
    }

    .hamburger {
        display: block;
        align-self: center;
    }    

   .header {
      padding: 5px 0;
      &-title {
         align-self: center;
         margin-top: 0;
      }

      &-phone {
         display: none;
      }        
   }

    .footer {
        text-align: center;
        &-content {
            flex-direction: column;
            & > * {
               margin: 0 0 20px 0 !important;            
            }
            .vopros-button {
               margin: 0 !important;
            }
            .grow {
               display: none;
            }
        }
    }

	.main-menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 89px;
      left: 0;
      right: 0;
      text-align: left;
      margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
         padding: 0;
         margin: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }
    

   .section {
      &-main2 {
         &-title {
            font-size: 32px;
            margin-bottom: 25px;
         }
         &-list {
            li {
               font-size: 16px;
            }
         }
      }

      &-delo {
         .delo {
            padding-top: 30px;
            min-height: 320px;
            justify-content: flex-start;
            
            &-block {
               flex-direction: column;
            }

            &-text {
               flex-grow: 1;
               font-size: 17px;
            }
         }
      }

      &-services {
        .s {
          &-head {
            font-size: 16px;
          }

          &-col {
            display: none;
            margin-right: 0;
            &.active {
              display: block;
            }
          }

          &-hcell {
            display: none;
          }

          &-dropdown {
            display: flex;
          }
        }
      }

      &-main {
         &-content {
            flex-direction: column;
         }
         &-title {
            font-size: 32px;
            text-align: center;
         }
         .form2 {
            margin: 0 0 0 auto;            
         }
      }

      &-quarantees {
         &-content {
            flex-direction: column;
         }
         .quarantee {
            width: 100%;
         }
      }

      &-sotrudni4estva {
         &-content {
            flex-direction: column;
         }
         .sotrudni4estva {
            width: 100%;
            &-block {
               max-width: 500px;
            }
         }
      }

      &-why {
         &-content {
            flex-direction: column; 
         }
         .form2 {
            &:first-child {
               margin-bottom: 20px !important;
            }
         }
      }

      &-sfera {
         &-content {
            background-image: none;
         }
      }
      
      &-osnovatel {
         .danil {
            img {
               min-width: 100% !important;
            }
            &-img {
               margin: 0 15px;
               
            }
            &-block {
               padding: 10px;
            }
         }
      }
   }

   .delo {
      &-title {
         justify-content: space-between;
         &-text {
            width: 65%;
         }
      }
      &-nomer {
         width: 30%;
      }
   }

   #thanks-page {
      .page-wrapper {
         background: transparent;
      }

      .section-thanks {
         padding: 130px 0 30px;
         &-content {
            margin-left: 0;
         }

         &-title {
            margin-bottom: 20px;
         }

         &-text {
            margin-bottom: 20px;
            font-size: 26px;
         }

         &-link {
            font-size: 16px;
            margin-bottom: 70px;
         }
      }
   }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &-title {
           display: none;
        }
        .grow {
           display: block;
        }
    }
   
   .form {
      max-width: none;
      background-color: $accent;

      &:after {
         display: none;
      }

      &--white {
         background-color: rgba(255,255,255,.8);
      }
   }
    
   

   .section {
      &-title {
         font-size: 24px;
      }

      &-main {
         padding-top: 120px;

         &-text {
            margin-bottom: 10px;
         }

         &-list {
            margin-bottom: 30px;
            li {
               margin-bottom: 10px;
            }
         }
      }

      &-main2 {
         padding-top: 120px;
         &-list {
            flex-direction: column;
            margin-bottom: 20px;
            li {
               font-size: 20px;
               margin-bottom: 15px;
               max-width: none;
            }
         }
      }

      &-delo {
         .delo {
            &-block {
               &-text {
                  max-width: 350px;
               }
            }
         }

         .carousel-delo {
            padding: 0;
            max-width: 500px;
            margin: 0 auto;
         }
      }

      &-osnovatel {
         &-content {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
         }
         .danil {
            &-content {
               flex-direction: column;
            }
            &-img {
               margin: 0 auto;
               padding-top: 10px;
            }
            &-block {
               max-width: none;
            }
         }
         .certificate {
            display: block;
            margin: 0 auto 10px;

            &-content {
               text-align: center;
               margin: 0 auto;
               padding-bottom: 20px;
            }
         }
         .certificates {
            display: none;
         }
         .carousel-certificates {
            display: block;
         }
      }

      &-contact {
         &-content {
            padding: 0 15px;
         }

         .map {
            clip-path: none;
            width: auto;
            flex-grow: 1;
         }

         .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 18px;
            padding: 0;
            margin-left: 20px;
            width: auto;

            &-address {
               margin: 0 0 20px;
            }
         }
      }      
   }

   .more {
     .delo {
        &-title {
        }
        &-nomer {
           font-size: 32px;
        }
     }
   }

}

@media only screen and (max-width : 610px) {
  .section {
     &-sfera {
        &-content {
           flex-direction: column;
        }
        .sfera {
           margin: 0 auto 25px;
           &-title {
              margin-bottom: 10px;
           }
        }
     }

     &-sotrudni4estva {
        .sotrudni4estva {
           flex-direction: column;
           img {
              margin: 0 auto 10px;
           }
           &-block {
              margin: 0 auto 0 0;
           }
        }
     }

  }

   .more {
      .delo {
         &-title {
            justify-content: space-between;
            &-text {
               font-size: 20px;
            }
         }
         &-nomer {
            font-size: 28px;
            margin-right: 0;
         }

         &-block {
            &-title {
               font-size: 16px;
               margin-bottom: 15px;
            }
            &-text {
               margin-bottom: 10px;
            }
         }
      }
   }

   .sfer-more {
      .sfera {
         &-title {
            padding: 20px;
            text-align: center;
         }
         &-content {
            flex-direction: column;
            padding: 20px;
         }
         &-label {
            margin: 0 auto;
         }
         .form--sfera {
            margin: 0 auto;
         }
      }
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

   .call-me {
      display: block;
   }

  .remodal {
     .modal-title {
        font-size: 18px;
        margin-bottom: 15px;
     }
     form {
        width: auto;
     }
    &.remodal-small {
      padding: 20px 10px;
    }
  }


   .form {
      margin-left: -15px;
      margin-right: -15px;

   }

   .form2 {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: -15px !important;
      margin-right: -15px !important;
   }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
   }
    
   .visible-xxs {
      display: block !important;
   }

	.hidden-xxs {
		display: none !important;
   }

    .header {
       .button {
          display: none;
       }
    }

   .section {
      &-title {
      }

      &-main {
         &-title {
            font-size: 24px;
            line-height: 1;
         }
      }

      &-main2 {
         &-title {
            font-size: 28px;
         }
         &-list {
            padding: 0;
            li {
               font-size: 18px;
            }
         }
      }

      &-delo {
         .delo {
         }

         .carousel-delo {
            max-width: none;
            margin: 0 -15px;
            width: auto;
         }
      }

      &-services {
         .s {
            &-side {
               margin-right: 0;
               padding-top: 105px;
            }
            &-head {
               margin-bottom: 0;
            }
         }
      }
      
      &-main {
         &-title {
            font-size: 28px;
            margin-bottom: 25px;
         }
         &-text {
            font-size: 20px;
            margin-bottom: 20px;
         }
         li {
            font-size: 18px;
         }
      }

      &-quarantees {
         .quarantee {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            &-title {
               font-size: 20px;
               margin-bottom: 10px;
               text-align: center;
            }
            &-img {
               margin: 0;
            }
         }
      }

      &-sfera {
         .sfera {
            &-title {
               font-size: 22px;
            }
         }
      }

      &-contact {
         &-content {
            display: block;
            // flex-direction: column;
         }

         .contact {
            margin: 20px 0 0 0;
         }
      }  
   }

   .modal {
     &-title {
       font-size: 20px;
     }

     &-form {
       flex-direction: column;
     }

     &-left {
       margin-right: 0;
     }

     &-footer {
       display: block;
       text-align: left;
     }

   }

   .more {
      .delo {
         &-title {
            flex-direction: column;
            margin: 20px 10px 15px;
            &-text {
               width: 100%;
               text-align: center;
            }
         }
         &-nomer {
            width: 100%;
            text-align: center;
         }
         &-block {
            &-title {
               margin: 0 10px 10px !important;
            }
            &-text {
               margin: 0 10px 10px;
            }
         }
      }
   }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .section {
   
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
  
  .section {
    
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {
	.section {
    
  }
}